In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score
import dill
dill._dill._reverse_typemap['ClassType'] = type

In [2]:
df = pd.read_csv('../datasets/test.csv', index_col=0)
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [3]:
df.shape

(25976, 24)

In [25]:
X = df.drop('satisfaction', axis=1)
y = pd.DataFrame({'satisfaction': df['satisfaction']})

In [27]:
y.satisfaction = np.where(y.satisfaction == 'satisfied', 1, 0)

In [9]:
with open('../models/xgbclf_pipeline.dill', 'rb') as in_strm:
    pipeline = dill.load(in_strm)

In [12]:
probas = pipeline.predict_proba(X)

In [13]:
pd.DataFrame({'probas': probas[:, 1]}).to_csv("../datasets/test_probas.csv", index=None)

In [15]:
predictions = pipeline.predict(X)
pd.DataFrame({'preds': predictions}).to_csv("../datasets/test_predictions.csv", index=None)

In [29]:
binary_preds = np.where(predictions == 'satisfied', 1, 0)
roc_auc_score(y, binary_preds)

0.9491196886355117