In [42]:
import numpy as np
import pandas as pd
from sklearn.metrics import roc_auc_score
from urllib import request, parse
import json

In [3]:
df = pd.read_csv('../datasets/test.csv', index_col=0)
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25976 entries, 0 to 25975
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 25976 non-null  int64
 1   Gender                             25976 non-null  object
 2   Customer Type                      25976 non-null  object
 3   Age                                25976 non-null  int64
 4   Type of Travel                     25976 non-null  object
 5   Class                              25976 non-null  object
 6   Flight Distance                    25976 non-null  int64
 7   Inflight wifi service              25976 non-null  int64
 8   Departure/Arrival time convenient  25976 non-null  int64
 9   Ease of Online booking             25976 non-null  int64
 10  Gate location                      25976 non-null  int64
 11  Food and drink                     25976 non-null  int64
 12  Online boarding                    25976 non-null  int64
 13  Seat comfort                       25976 non-null  int64
 14  Inflight entertainment             25976 non-null  int64
 15  On-board service                   25976 non-null  int64
 16  Leg room service                   25976 non-null  int64
 17  Baggage handling                   25976 non-null  int64
 18  Checkin service                    25976 non-null  int64
 19  Inflight service                   25976 non-null  int64
 20  Cleanliness                        25976 non-null  int64
 21  Departure Delay in Minutes         25976 non-null  int64
 22  Arrival Delay in Minutes           25893 non-null  float64
 23  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 6.2+ MB

In [4]:
X = df.drop('satisfaction', axis=1)
y = pd.DataFrame({'satisfaction': df['satisfaction']})

In [82]:
class NumpyArrayEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return json.JSONEncoder.default(self, obj)

In [151]:
def get_prediction(data):
    data_dict = data.to_dict()
    
    for key, value in data_dict.items():
        if isinstance(value, np.int64):
            data_dict[key] = [int(value)]
        elif isinstance(value, np.float64):
            data_dict[key] = [float(value)]
        else:
            data_dict[key] = [value]

    myurl = "http://127.0.0.1:5000/predict"
    req = request.Request(myurl)
    req.add_header('Content-Type', 'application/json; charset=utf-8')
    jsondata = json.dumps(data_dict)
    jsondataasbytes = jsondata.encode('utf-8')   # needs to be bytes
    req.add_header('Content-Length', len(jsondataasbytes))
    #print (jsondataasbytes)
    response = request.urlopen(req, jsondataasbytes)
    return json.loads(response.read())['predictions']

In [150]:
a = X.iloc[0:5, :].to_dict()

AttributeError: 'DataFrame' object has no attribute 'to_list'

In [149]:
a

{'id': {0: 19556, 1: 90035, 2: 12360, 3: 77959, 4: 36875},
 'Gender': {0: 'Female', 1: 'Female', 2: 'Male', 3: 'Male', 4: 'Female'},
 'Customer Type': {0: 'Loyal Customer',
  1: 'Loyal Customer',
  2: 'disloyal Customer',
  3: 'Loyal Customer',
  4: 'Loyal Customer'},
 'Age': {0: 52, 1: 36, 2: 20, 3: 44, 4: 49},
 'Type of Travel': {0: 'Business travel',
  1: 'Business travel',
  2: 'Business travel',
  3: 'Business travel',
  4: 'Business travel'},
 'Class': {0: 'Eco', 1: 'Business', 2: 'Eco', 3: 'Business', 4: 'Eco'},
 'Flight Distance': {0: 160, 1: 2863, 2: 192, 3: 3377, 4: 1182},
 'Inflight wifi service': {0: 5, 1: 1, 2: 2, 3: 0, 4: 2},
 'Departure/Arrival time convenient': {0: 4, 1: 1, 2: 0, 3: 0, 4: 3},
 'Ease of Online booking': {0: 3, 1: 3, 2: 2, 3: 0, 4: 4},
 'Gate location': {0: 4, 1: 1, 2: 4, 3: 2, 4: 3},
 'Food and drink': {0: 3, 1: 5, 2: 2, 3: 3, 4: 4},
 'Online boarding': {0: 4, 1: 4, 2: 2, 3: 4, 4: 1},
 'Seat comfort': {0: 3, 1: 5, 2: 2, 3: 4, 4: 2},
 'Inflight entertainment': {0: 5, 1: 4, 2: 2, 3: 1, 4: 2},
 'On-board service': {0: 5, 1: 4, 2: 4, 3: 1, 4: 2},
 'Leg room service': {0: 5, 1: 4, 2: 1, 3: 1, 4: 2},
 'Baggage handling': {0: 5, 1: 4, 2: 3, 3: 1, 4: 2},
 'Checkin service': {0: 2, 1: 3, 2: 2, 3: 3, 4: 4},
 'Inflight service': {0: 5, 1: 4, 2: 2, 3: 1, 4: 2},
 'Cleanliness': {0: 5, 1: 5, 2: 2, 3: 4, 4: 4},
 'Departure Delay in Minutes': {0: 50, 1: 0, 2: 0, 3: 0, 4: 0},
 'Arrival Delay in Minutes': {0: 44.0, 1: 0.0, 2: 0.0, 3: 6.0, 4: 20.0}}

In [131]:
for key, value in a.items():
        if isinstance(value, np.int64):
            a[key] = int(value)
        elif isinstance(value, np.float64):
            a[key] = float(value)
        else:
            a[key] = value

In [134]:
for val in a.values():
    print(type(val))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [135]:
b = json.dumps(a)

In [153]:
get_prediction(X.iloc[2, :])

'neutral or dissatisfied'

In [146]:
y.head()

              satisfaction
0                satisfied
1                satisfied
2  neutral or dissatisfied
3                satisfied
4                satisfied

In [167]:
y_true.head()

   satisfaction
0             1
1             1
2             0
3             1
4             1

In [177]:
%%time
predictions = X.apply(lambda x: get_prediction(x), 1)

Wall time: 28min

In [173]:
y_true = np.where(y.satisfaction == 'satisfied', 1, 0)

In [178]:
preds = np.where(predictions == 'satisfied', 1, 0)
preds[:5]

array([1, 1, 0, 1, 0])

In [179]:
roc_auc_score(y_true, preds)

0.9491196886355117